@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "lenis/dist/lenis.css";

@theme {
  --spacing: 4px;

  --breakpoint-*: initial;
  --breakpoint-xs: 540px;
  --breakpoint-sm: 570px;
  --breakpoint-md: 890px;
  --breakpoint-lg: 1180px;
  --breakpoint-xl: 1580px;
  --breakpoint-2xl: 1600px;
  --breakpoint-3xl: 1800px;

  --animate-load-in: fadeIn 0.2s ease-in-out 0s forwards;
  --animate-nav-body-open: fadeIn 0.3s ease-in-out 0.4s 1 normal forwards;
  --animate-nav-wrapper-open: openNavigation 0.3s ease-in-out 0s 1 normal forwards;
  --animate-nav-wrapper-close: closeNavigation 0.3s ease-in-out 0.3s 1 normal forwards;
  --animate-nav-close: fadeOut 0.3s ease-in-out 0s 1 normal forwards;
  --animate-load-contact: fadeIn 0.2s ease-in-out 0.6s 1 normal forwards;
  --animate-scroll-wheel: scrollWheel 1.6s ease-in-out infinite;

  --transition-nav-container: height 0.1s ease-in-out, background-color 0.1s ease-in-out, border-radius 0.1s ease-in-out;
  --transition-nav-cirle: padding 0.2s ease-in-out;
  --transition-nav-body: width 0.2s ease-in-out;
  --transition-nav-span-hover: width 0.3s ease-in-out;
  --transition-nav-strip: width 0.1s ease-in-out, translate 1s ease-in-out, rotate 1s ease-in-out, opacity 0.2s ease-in-out;

  @keyframes fadeIn {
    0% { opacity: 0 };
    100% { opacity: 1 };
  }
  @keyframes scrollWheel {
    0% { transform: translateY(0); opacity: 1; }
    70% { transform: translateY(14px); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
  }

  @keyframes fadeOut {
    0% { opacity: 1 };
    100% { opacity: 0 };
  }

  @keyframes openNavigation {
    0% {
      right: 2%;
      top: 2%;
      width: 80px;
      height: 80px;
      border-radius: 28px;
    }
    100% {
      background-color: black;
      right: 0%;
      top: 0%;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes closeNavigation {
    0%{
      right: 0%;
      top:0%;
      border-radius: 0;
      width: 100%;
      height: 100%;
      background-color: black;
    }
    100% {
      right: 2%;
      top: 2%;
      width: 56px;
      height: 56px;
      border-radius: 28px;
      background-color: transparent;
    }
  }
}

html, body {
  height: 100vh;
}